/* Normalizar*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
/* GENERAL */
body {
    margin: 0;
    font-family: "Raleway", sans-serif;
    background: #11131c;
    color: #e6e6e6;
    line-height: 1.6;
}

h1 {
    color: #e6e6e6;
}

h2, h3 {
    color: #00f0ff;
}
/* TOP HEADER */
.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  padding: 10px;
}
.top-header h1 {
  font-size: 1.4rem;
}
.top-header li {
  display: inline-block;
  padding: 10px;
}
.top-header li svg {
  width: 25px;
  fill: #e6e6e6;
}
.top-header li svg:hover {
  fill: #00f0ff;
}
/* HEADER */
.header {
    padding: 40px 20px;
    border-bottom: 1px solid #1f2736;
    background: #11131c;
}

.portada-contenedor {
    display: flex;
    justify-content: center;
}
.portada {
    display: flex;
    gap: 20px;
}

.circulo {
  max-width: 150px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  overflow: hidden;
}

#portada-imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portada-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nombre {
    color: #e6e6e6;
    font-size: 2.4rem;
}

.titulo {
    font-size: 1.2rem;
    color: #00f0ff;
    text-shadow: 0px 0px 3px #00f0ff;
}

.nav-contenido {
    text-align: center;
    margin-top: 40px;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin-top: 15px;
}

.nav-links li {
    display: inline-block;
    margin: 0 10px;
}

.nav-links a {
    color: #00f0ff;
    text-decoration: none;
}

.nav-links a:hover {
    text-shadow: 0px 0px 5px #00f0ff;
}

/* SECTION */
.section {
    width: 90%;
    max-width: 900px;
    margin: 60px auto;
}

.description {
    color: #cfd9e6;
}

/* PROJECT CARDS */
.projects-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.project-card {
    background: #131722;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #1f2736;
    transition: 0.3s;
}

.project-card:hover {
    transform: translateY(-4px);
    border-color: #58a6ff;
    box-shadow: 0 0 5px #00f0ff;
}

.project-card:hover h3 {
    text-shadow: 0 0 3px #00f0ff;
}

.project-card h3 {
    margin-bottom: 10px;
    color: #00f0ff;
}

.project-card > p {
    color: #cfd9e6;
    font-size: 0.9rem;
    margin-bottom: 8px;
}

.tech-list span {
    display: inline-block;
    margin: 4px;
    padding: 4px 10px;
    border-radius: 5px;
    background: #1f2736;
    color: #9ab6d6;
    font-size: 0.8rem;
}

.tech-item {
    display: flex;
    align-items: center;
    gap: 6px;
}

.tech-item:hover{
    color: #00f0ff;
}

.tech-item p {
    margin-top: 2px;
}

/* BUTTON */
.btn {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    margin-top: 10px;
    padding: 10px 14px;
    color: #e6e6e6;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    transition: 0.3s;
    border: 2px solid #00f0ff;
}

.btn svg {
    fill: #e6e6e6;
}

.btn:hover {
    background: #00c3ff;
    box-shadow: 0 0 8px #00f0ff;
}

/* CONTACT */
.contact-links {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

/* FOOTER */
.footer {
    text-align: center;
    padding: 30px;
    background: #11131c;
    margin-top: 60px;
    border-top: 1px solid #1f2736;
    color: #9ab6d6;
}

/* ANIMACIONES */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s, transform 0.8s;
}
.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}
